@layer components {
  .badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--text);
    line-height: normal;
    &.is-info {
      background-color: var(--teal-mid);
    }
    &.is-planned {
      background-color: var(--bg-mid);
    }
    &.is-active {
      background-color: var(--accent); 
    }
    &.is-complete {
      background-color: var(--tealy-green); 
    }
  }
}