@layer components {
  .page-wrapper[data-software-keyboard-visible="true"] .calculator .jar-result-text {
    position: static;
  }
  .calculator {
    container: calculator / inline-size;
    block-size: 100%;
  }
  .calculator-grid {
    display: grid;
    gap: 1rem 0;
    block-size: 100%;
    @container calculator (width >= 700px) {
      grid-template-columns: 1fr 1fr;
    }
    &--right {
      grid-template-areas: 
      "output"
      "fName"
      "fNotes";
      border-inline-start: 1px solid var(--border);
    }
  }
  .calculator-grid > div {
    display: grid;
    gap: 1rem 2rem;
    align-content: start;
    padding: 1rem;
    @container calculator (width >= 700px) {
      padding: 2rem;
    }
  }
  .grid {
    &-brine {
      container: brine-fieldset / inline-size;
    }
    &-salt {
      container: salt-fieldset / inline-size;
    }
    &-fName {
      grid-area: fName;
    }
    &-fNotes {
      container: fNotes-fieldset / inline-size;
      grid-area: fNotes;
      > div {
        display: grid;
        gap: 1rem 2rem;
        @container fNotes-fieldset (width >= 600px) {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
    &-output {
      grid-area: output;
    }
  }
  .brine-presets .radio-group {
    margin-block-end: 0.5rem;
    > div:last-of-type {
      flex: 1 0 100%;
    }
  }
  .calculator-submit {
    display: grid;
    gap: 0.5rem;
    justify-content: start;
    grid-template-columns: 1fr 1fr;
    @container calculator (width >= 700px) {
      grid-template-columns: auto auto;
    }
  }
  .salt-calc-grid {
    display: grid;
    gap: 1rem;
    @container salt-fieldset (width >= 300px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .jar-area {
    display: grid;
    justify-items: center;
  }
  .jar-result-text {
    @container calculator (width < 500px) {
      background-color: var(--bg-panel);
      -webkit-mask: var(--mask-top);
      padding: 2rem 0 1rem;
      mask: var(--mask-top);
      position: sticky;
      bottom: 0;
      inline-size: calc(100% + calc(var(--page-main-padding) * 2));
      margin-block-end: calc(var(--page-main-padding) * -1);
    }
    > p {
      padding-inline: var(--page-main-padding);
    }
    text-align: center;
    .result-sub {
      font-size: 0.88rem;
    }
    .result-sub:last-of-type {
      margin-block-start: 0.5rem;
    }
    .result-big {
      font-size: 2rem;
    }
  }
  .jar-svg {
    max-inline-size: 250px;
  }
}