@layer components {
  .calculator {
    container: calculator / inline-size;
    &:has(input:focus-within, textarea:focus-within, select:focus-within) .grid-output {
      position: static;
    }
  }
  .calculator-grid {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
      "brine" 
      "salt" 
      "fName" 
      "fDate" 
      "fNotes"
      "output";
    @container calculator (width >= 500px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "brine output"
        "salt output"
        "fName fDate"
        "fNotes fNotes";
    }
    @container calculator (width >= 900px) {
      gap: 1rem 2rem;
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-areas: 
        "brine salt output" 
        "fName fDate output" 
        "fNotes fNotes output";
    }
  }
  .grid {
    &-brine {
      container: brine-fieldset / inline-size;
      grid-area: brine;
    }
    &-salt {
      container: salt-fieldset / inline-size;
      grid-area: salt;
    }
    &-output {
      grid-area: output;
      @container calculator (width < 500px) {
        position: sticky;
        bottom: 0;
        inline-size: calc(100% + calc(var(--page-main-padding) * 2));
        margin-inline-start: calc(var(--page-main-padding) * -1);
        margin-block-end: calc(var(--page-main-padding) * -1);
      }
    }
    &-fName {
      grid-area: fName;
    }
    &-fDate {
      grid-area: fDate;
      display: grid;
      gap: 0.5rem;
      align-content: start;
      .radio-group.is-horizontal {
        grid-auto-flow: unset;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &-fNotes {
      container: fNotes-fieldset / inline-size;
      grid-area: fNotes;
      > div {
        display: grid;
        gap: 1rem;
        @container fNotes-fieldset (width >= 600px) {
          gap: 1rem 2rem;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  .brine-presets .radio-group {
    margin-block-end: 0.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-areas: 
      "preset1" 
      "preset2" 
      "preset3" 
      "preset4" 
      "preset5" 
      "preset6";
    @container brine-fieldset (width >= 400px) {
      grid-template-areas: 
        "preset1 preset2" 
        "preset3 preset4" 
        "preset5 preset5"
        "preset6 preset6";
    }
    @each $i in 1, 2, 3, 4, 5, 6 {
      > div:nth-child(#{$i}) {
        grid-area: preset#{$i};
      }
    }
  }
  .calculator-output {
    position: relative;
    display: grid;
    gap: 0.25rem;
    text-align: center;
    block-size: 100%;
    align-content: center;
    box-sizing: border-box;
    -webkit-mask: var(--mask-top);
    mask: var(--mask-top);
    padding: 2rem 1rem 1rem;
    background-color: var(--border-color);
    @container calculator (width >= 500px) {
      -webkit-mask: var(--mask);
      mask: var(--mask);
      padding: 1rem 2rem 2rem;
      border-radius: var(--border-radius);
    }
    &::before {
      content: "";
      background-image: url("../assets/mason-jar.png");
      background-size: cover;
      background-position: top center;
      position: absolute;
      inline-size: 95%;
      block-size: 100%;
      opacity: 0.1;
      z-index: -1;
    }
    output {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .details--summary {
      justify-content: center;
    }
  }
  .calculator-submit {
    display: grid;
    gap: 0.5rem;
    button {
      inline-size: 100%;
    }
  }
  .salt-calc-grid {
    display: grid;
    gap: 1rem;
    @container salt-fieldset (width >= 300px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}