@use "abstracts/mixins/form-controls" as form-controls;

@layer components {
    .react-aria-Group {
        @include form-controls.base;
    }

    .react-aria-DateRangePicker {
        --field-border: var(--spectrum-global-color-gray-400);
        --field-background: var(--spectrum-global-color-gray-50);
        --text-color: var(--spectrum-alias-text-color);
        --text-color-placeholder: var(--spectrum-global-color-gray-700);
        --text-color-invalid: var(--spectrum-global-color-red-600);
        --highlight-background: var(--button-primary-background-color);
        --highlight-foreground: var(--button-primary-color);
        --highlight-background-invalid: var(--spectrum-global-color-static-red-600);
        color: var(--text-color)
    }

    .react-aria-DateRangePicker .react-aria-Group {
        width: fit-content;
        min-width: 220px;
        max-width: 100%;
        box-sizing: border-box;
        white-space: nowrap;
        align-items: center;
        display: flex;
        position: relative;
        overflow: auto
    }

    .react-aria-DateRangePicker .react-aria-Group[data-focus-within] {
        //   border-color: var(--highlight-background);
        box-shadow: 0 0 0 1px var(--focus-visible-color);
    }

    .react-aria-DateRangePicker [slot=start]+span {
        padding: 0 4px
    }

    .react-aria-DateRangePicker [slot=end] {
        flex: 1;
        margin-right: 2rem
    }

    .react-aria-CalendarCell[data-today="true"] {
        background-color: var(--background-color);
        font-weight: 700;
    }

    .react-aria-DateRangePicker .react-aria-Button {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        vertical-align: middle;
        box-sizing: content-box;
        border: none;
        color: var(--button-primary-background-color);
        border-radius: var(--border-radius);
        outline: none;
        flex-shrink: 0;
        margin-left: auto;
        padding: 0;
        font-size: .857rem;
        position: absolute;
        top: 3px;
        right: 5px;
    }

    .react-aria-DateRangePicker .react-aria-Button[data-focus-visible] {
        box-shadow: 0 0 0 2px var(--accent-color)
    }

    .react-aria-DateRangePicker [slot=description] {
        font-size: 12px
    }

    .react-aria-DateRangePicker [slot=errorMessage] {
        color: var(--text-color-invalid);
        font-size: 12px
    }

    .react-aria-DateRangePicker[data-invalid] [slot=end]:after {
        content: "🚫" /"";
        content: "🚫";
        alt: " ";
        text-align: end;
        flex: 1;
        margin-right: -2rem
    }

    .react-aria-DateInput {
        display: flex
    }

    .react-aria-DateSegment {
        font-variant-numeric: tabular-nums;
        text-align: end;
        padding: 0 2px
    }

    .react-aria-DateSegment[data-type=literal] {
        padding: 0
    }

    .react-aria-DateSegment[data-placeholder] {
        color: var(--text-color-placeholder);
        font-style: italic
    }

    .react-aria-DateSegment:focus {
        color: var(--highlight-foreground);
        background: var(--highlight-background);
        color: var(--button-primary-color);
        caret-color: #0000;
        border-radius: 4px;
        outline: none
    }

    .react-aria-DateSegment[data-invalid] {
        color: var(--text-color-invalid)
    }

    .react-aria-DateSegment[data-invalid]:focus {
        background: var(--highlight-background-invalid);
        color: var(--highlight-foreground)
    }

    .react-aria-RangeCalendar {
        --highlight-background: var(--button-primary-background-color);
        --highlight-foreground: var(--button-primary-color);
        --button-background: var(--spectrum-global-color-gray-50);
        --button-background-pressed: var(--spectrum-global-color-gray-100);
        --button-border: var(--spectrum-global-color-gray-400);
        --text-color: var(--spectrum-alias-text-color);
        --text-color-disabled: var(--spectrum-alias-text-color-disabled);
        --text-color-invalid: var(--spectrum-global-color-red-600);
        --pressed-color: var(--spectrum-global-color-gray-200);
        --unavailable-color: var(--spectrum-global-color-red-600);
        --invalid-color: var(--spectrum-global-color-static-red-600);
        width: fit-content;
        color: var(--text-color)
    }

    .react-aria-RangeCalendar header {
        align-items: center;
        margin: 0 4px .5rem;
        display: flex
    }

    .react-aria-RangeCalendar header .react-aria-Heading {
        text-align: center;
        flex: 1;
        margin: 0;
        font-size: 1.375rem
    }

    .react-aria-RangeCalendar header .react-aria-Button {
        background: var(--button-background);
        border: 1px solid var(--button-border);
        color: var(--text-color);
        -webkit-appearance: none;
        appearance: none;
        vertical-align: middle;
        width: 2rem;
        height: 2rem;
        text-align: center;
        outline: none;
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    .react-aria-RangeCalendar header .react-aria-Button[data-focus-visible] {
        border-color: var(--highlight-background);
        box-shadow: 0 0 0 1px var(--highlight-background)
    }

    .react-aria-RangeCalendar header .react-aria-Button[data-pressed] {
        background: var(--button-background-pressed)
    }

    .react-aria-RangeCalendar table {
        border-collapse: collapse
    }

    .react-aria-RangeCalendar table td {
        padding: 2px 0
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell {
        width: 2.286rem;
        text-align: center;
        cursor: default;
        border-radius: 6px;
        outline: none;
        line-height: 2.286rem
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-outside-month] {
        display: none
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-pressed] {
        background: var(--pressed-color)
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-focus-visible] {
        box-shadow: inset 0 0 0 2px var(--highlight-background)
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-selected] {
        background: var(--highlight-background);
        color: var(--highlight-foreground);
        border-radius: 0
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-selected][data-focus-visible] {
        box-shadow: inset 0 0 0 1px var(--highlight-background), inset 0 0 0 3px var(--highlight-foreground)
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-selection-start] {
        border-start-start-radius: 6px;
        border-end-start-radius: 6px
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-selection-end] {
        border-start-end-radius: 6px;
        border-end-end-radius: 6px
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-disabled] {
        color: var(--text-color-disabled)
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-unavailable] {
        color: var(--unavailable-color);
        text-decoration: line-through
    }

    .react-aria-RangeCalendar .react-aria-CalendarCell[data-invalid] {
        background: var(--invalid-color);
        color: var(--highlight-foreground)
    }

    .react-aria-RangeCalendar [slot=errorMessage] {
        color: var(--text-color-invalid);
        font-size: 12px
    }

    .react-aria-Popover {
        border: 1px solid var(--spectrum-global-color-gray-400);
        background: var(--border-color);
        border-radius: 6px;
        padding: 1.25rem;
        overflow: auto;
        box-shadow: 0 8px 20px #0000001a
    }

    .react-aria-Popover[data-placement=top] {
        --origin: translateY(8px)
    }

    .react-aria-Popover[data-placement=bottom] {
        --origin: translateY(-8px)
    }

    .react-aria-Popover[data-entering] {
        animation: .2s slide
    }

    .react-aria-Popover[data-exiting] {
        animation: .2s ease-in reverse slide
    }

    @keyframes slide {
        0% {
            transform: var(--origin);
            opacity: 0
        }

        to {
            opacity: 1;
            transform: translateY(0)
        }
    }

    @media (forced-colors:active) {
        .react-aria-DateRangePicker {
            forced-color-adjust: none;
            --field-border: ButtonBorder;
            --field-background: Field;
            --text-color: FieldText;
            --text-color-placeholder: FieldText;
            --text-color-invalid: LinkText;
            --highlight-background: var(--button-primary-background-color);
            --highlight-foreground: var(--button-primary-color);
            --highlight-background-invalid: LinkText
        }

        .react-aria-DateRangePicker .react-aria-Button {
            forced-color-adjust: none;
            --focus-ring-color: Highlight;
            background: ButtonFace;
            color: ButtonText;
            border: 1px solid ButtonBorder
        }

        .react-aria-DateRangePicker .react-aria-Button[data-focus-visible] {
            border-color: Highlight;
            box-shadow: 0 0 0 1px Highlight
        }

        .react-aria-RangeCalendar {
            forced-color-adjust: none;
            --highlight-background: var(--button-primary-background-color);
            --highlight-foreground: var(--button-primary-color);
            --button-border: ButtonBorder;
            --button-border-disabled: GrayText;
            --button-background: ButtonFace;
            --text-color: ButtonText;
            --text-color-disabled: GrayText;
            --text-color-invalid: LinkText;
            --unavailable-color: GrayText;
            --invalid-color: LinkText;
            --pressed-color: Canvas;
            --spectrum-alias-background-color-default: Canvas
        }
    }
}