@layer components {
  .radio-group {
    display: grid;
    gap: 0.5rem;
    margin-block-start: 0.5rem;
    > div {
      display: flex;
      gap: 0.5rem;
      input {
        flex-shrink: 0;
      }
    }
    &.is-horizontal {
      grid-auto-flow: column;
    }
  }
}