@layer components {
  .radio-group {
    margin-block-start: 0.5rem;
    > div {
      display: flex;
      gap: 0.5rem;
      input {
        flex-shrink: 0;
      }
    }
    &.is-vertical {
      display: grid;
      gap: 0.5rem;
    }
    &.is-horizontal {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 2rem;
      > div:last-of-type {
        flex: 1 0 100%;
      }
    }
    .sub-label {
      color: var(--text-dim);
    }
  }
  .checkbox-wrapper {
    position: relative;
    inline-size: var(--radio-size);
    block-size: var(--radio-size);
    svg {
      pointer-events: none;
    }
  }
}