@layer components {
  .tabs {
    background-color: var(--bg);
    block-size: 100%;
    border-block-end: 1px solid var(--border);
    &--tablist {
      display: flex;
      background-color: var(--bg-mid);
    }
    &--tab {
      padding: 1rem;
      color: var(--text);
      background-color: transparent;
      border: 0;
      transition: background-color 300ms;
      inline-size: 100%;
      appearance: none;
      font-size: 1rem;
      font-family: var(--font-family-secondary);
      font-weight: 700;
      > * {
        margin: 0;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
      }
      &[aria-selected="true"] {
        background-color: var(--bg-panel);
      }
      &[aria-selected="false"] {
        cursor: pointer;
      }
      &:focus-visible {
        outline: 1px solid black;
        outline-offset: -2px;
      }
    }
    &--tabpanels {
      background-color: var(--bg);
    }
    &--tabpanel {
      container: tabpanel / inline-size;
      block-size: 100%;
    }
    &--tabpanel:focus-visible {
      outline: 1px solid black;
      outline-offset: -2px;
    }
    &.is-horizontal {
      > [role="tablist"] > [role="tab"] {
        border-block-end: 3px solid transparent;
        &[aria-selected="true"] {
          border-block-end-color: var(--accent);
        }
      }
      > [role="tablist"] > [role="tab"]:not(:last-of-type) {
        border-inline-end: 1px solid var(--border);
      }
    }
    &.is-vertical {
      display: grid;
      grid-template-columns: minmax(50px, 150px) auto;
      > [role="tablist"] {
        display: grid;
        grid-template-rows: min-content min-content;
        border-inline-end: 1px solid var(--border);
      }
      > [role="tablist"] > [role="tab"] {
        border-inline-start: 3px solid transparent;
        border-block-end: 1px solid var(--border);
        &[aria-selected="true"] {
          border-inline-start-color: var(--accent);
        }
      }
    }
  }
}